/* Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Body */
#navigation{
  text-align: center;
}

#desktopDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.imageDiv {
  display: flex;
  background-color: rgb(0, 0, 255);
  width: 15vw;
  height: 15vw;
  margin: 1vw;
  align-items: center;
  justify-content: center;
}

.imageDiv img {
  max-width: 100%;
  max-height: 100%;
}

#desktopSpecificImage {
  position: absolute;
  left: 25%;
  top: 0;
}

#specificImageDiv {
  display: flex;
  background-color: rgb(0, 0, 255);
  width: 50vw;
  height: 50vw;
  align-items: center;
  justify-content: center;
}

#specificImageDiv img {
  max-width: 100%;
  max-height: 100%;
}
